name: Python Lint - Flake8

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  flake8-lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4

    - name: Configurar Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Instalar dependências
      working-directory: ./src
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Executar Flake8
      working-directory: ./src
      run: |
        echo "Rodando Flake8..."
        # Falha se houver erros de sintaxe ou nomes indefinidos
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # Permite warnings, limita complexidade e tamanho de linha -> estrutura melhor o maximo de linhas
        flake8 . --count --exit-zero --max-complexity=15 --max-line-length=127 --statistics
